@(recentGames: Seq[Game], upcomingGames: Seq[Game])

@main("Arsenal games") {
    <div id="content" class="wrapper doc">
        <article>
            <h1>Arsenal games</h1>
            <div>
                <h2>Upcoming games</h2>
                <ul>
                    @for(game <- upcomingGames) {
                        <li>
                            @gameTemplate(game)
                        </li>
                    }
                </ul>
            </div>
            <div>
                <h2>Recent games</h2>
                <ul>
                    @for(game <- recentGames) {
                        <li>
                            @gameTemplate(game)
                        </li>
                    }
                </ul>
            </div>
        </article>
    </div>
}