@(game: Game)

<div>@game.name</div>
<div>@game.start.toString("dd-MM-yyyy hh:mm")</div>
<div>Live streamed: @if(game.isLiveStreamed){ Yes } else { No }</div>
@if(game.homeTeam.lineUpCoach.isDefined){
    <div>@{game.homeTeam.name}'s coach: @game.homeTeam.lineUpCoach.get</div>
}
@if(game.awayTeam.lineUpCoach.isDefined){
    <div>@{game.awayTeam.name}'s coach: @game.awayTeam.lineUpCoach.get</div>
}
@if(game.homeGoals.isDefined && game.awayGoals.isDefined){
    <div>Result: @game.homeGoals.get - @game.awayGoals.get</div>
}